*{
    text-align: center;
    background-color: black;
    color: white;
    
}
p{
    margin: 0 40px;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 20px;
    margin: 0 40px;
}
.image {
    width: 80%;
    padding: 5px 5px ;
    position: relative;
    margin:  0px 40px;
    border-radius: 20px
}
hr {
    width: 80%;
    position: relative;
}
button.hamburger-button{
    float: left;
}
.hamburger-button {
    background-color: #020202;
    color: rgb(251, 249, 249);
    font-size: 24px;
    cursor: pointer;
 }
 .nav-links {
    display: none;
    background-color: #333;
    color: white;
 }
 .nav-links a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
 }
 .nav-links a:hover {
    background-color: #111;
 }
 .gf {
    width: 2%;
    position: relative;
 }

@media (max-width:600px){
    body {
        font-size: 14px;
    }
}